*.pyc
*.log
*.pot
*.pyc
/*/*/*/__pycache__/*
/*/*/__pycache__/*
/*/__pycache__/
*.pyc
*~
__pycache__
db.sqlite3
env/*
*.log
#**/migrations/*
#!**/migrations/__init__.py

media/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
core/migrations/*
.coverage

.env
/celerybeat-schedule

/static/admin
/static/django_extensions
/static/rest_framework
/static/guardian