Django==4.2.1
django_autoslug==1.9.9
django_guardian==2.4.0
djangorestframework==3.14.0
djangorestframework_simplejwt==5.2.2
pdfkit==1.0.0
Pillow==11.1.0
python-dotenv==1.1.0
sentry_sdk==1.23.1
gunicorn
celery[redis]
django-celery-beat
redis
sentry-sdk[django]
stripe
django-dbbackup